.Block{
    float: left;
    width: calc(100vw / 10);
    height: calc(100vw / 10);
    text-align: center;
    position: static;
    z-index: 0;
    
    background-image: url('/grass.jpg');
    background-position: center center;
    background-size: contain;

    cursor: pointer;
}

.Block:hover .Tree{
    margin-top: -55%;
    transition: .2s;
}

@media only screen and (max-width: 600px) {

    .Block{
        width: calc(100vw / 5);
        height: calc(100vw / 5);
    }

}